body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fed000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fed000;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #191919;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input[type="file"]:focus {
    border-color: #191919;
}

button {
    background-color: #191919;
    color: #fed000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #000;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.home-button {
    background-color: #191919;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
}

.home-button:hover {
    background-color: #000;
}

.logo {
    width: 200px;
}